select.pagination.form-select {
    width: 175px;
    padding-left: 10px;
    border: 0;
}

.topfilters {
    background: #f4f6f7;
    padding: 7px;
    display: flex;
    justify-content: space-between;
}