$header-footer-bg: #9b8a54;
// $primary-color: #212331;
// $secondary-color: #00bcd4;
$primary-color: #11133e;
$secondary-color: #e9c44c;
$white-color: #fff;
$primary-heading-color: #3c3950;
$border-color: #ebebeb;
$product-border-color: #dfe5e8;
$icon-color: #99a3b0;
$secondary-color-opacity: #e9c44ca6;
