$primary-color: #212331;
$secondary-color: #00bcd4;
$white-color: #fff;
$primary-heading-color: #3c3950;
$border-color: #ebebeb;
$product-border-color: #dfe5e8;
$icon-color: #99a3b0;
$secondary-color-opacity: #00bcd4a6;
