@import "../../../../styles/variables.scss";
.category-card-sec {
  .category-card {
    position: relative;
    .category-content-sec {
      transition: all ease-in-out 0.3s;
      background: rgba(255, 255, 255, 0.85);
      position: absolute;
      bottom: 70px;
      width: 100%;
      text-align: center;
      padding: 15px;
      .divider {
        border-bottom: 1px solid $secondary-color;
        width: 25%;
        margin: 0 auto;
        transition: all ease-in-out 0.3s;
      }
      .cat-title {
        h5 {
          font-size: 16px;
          color: $primary-heading-color;
          font-weight: 600;
          text-transform: uppercase;
          transition: all ease-in-out 0.3s;
        }
      }
      .cat-count {
        font-size: 16px;
        color: #727171;
        transition: all ease-in-out 0.3s;
      }
    }
    &:hover {
      .category-content-sec {
        background: $primary-color;
        .divider {
          width: 35%;
        }
        .cat-title {
          h5 {
            color: $white-color;
          }
        }
        .cat-count {
          color: $white-color;
        }
      }
    }
  }
  .category-card-image {
    height: 250px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
